:root {
  --yellow: #f7b32b;
  --purple: #2d1e2f;
  --light-yellow: #fcf6b1;
  --green: #a9e5bb;
  --red: #e3170a;
}

body {
  padding: 0 3rem;
  text-align: center;
  background-color: var(--yellow);
}

.follower-img {
  margin: 2rem;
  border-radius: 50px;
}

input {
  margin-left: 3rem;
}
